In [1]:
import os
import re
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
currentpath = os.getcwd()
currentpath

'/Users/fuzzy/Documents/GitHub/Traj-OD'

In [10]:
path = './data/'
files = os.listdir(path)
files_csv = list(filter(lambda x: x[-4:]=='.csv' , files))
files_csv
data_list = []

In [12]:
for file in files_csv:
    tmp = pd.read_csv(path + file, header=None, names=['tid', 'timestp', 'long', 'lat'])
    data_list.append(tmp)
    print(tmp)

     tid              timestp       long       lat
0      6  2008-02-02 13:40:36  116.36360  39.92648
1      6  2008-02-02 13:46:36  116.36360  39.92648
2      6  2008-02-02 13:53:03  116.36360  39.92648
3      6  2008-02-02 14:05:32  116.36360  39.92648
4      6  2008-02-02 14:10:33  116.36360  39.92648
5      6  2008-02-02 14:23:02  116.36360  39.92648
6      6  2008-02-02 14:30:33  116.36360  39.92648
7      6  2008-02-02 14:39:55  116.36360  39.92648
8      6  2008-02-02 14:45:55  116.36360  39.92648
9      6  2008-02-02 14:51:55  116.36360  39.92648
10     6  2008-02-02 14:52:31  116.36360  39.92648
11     6  2008-02-02 14:52:31  116.36360  39.92648
12     6  2008-02-02 15:00:53  116.36360  39.92648
13     6  2008-02-02 15:07:02  116.36360  39.92648
14     6  2008-02-02 15:18:33  116.36360  39.92648
15     6  2008-02-02 15:26:03  116.36360  39.92648
16     6  2008-02-02 15:32:32  116.36360  39.92648
17     6  2008-02-02 15:38:32  116.43453  39.92262
18     6  2008-02-02 15:44:32  116.44723  39.92572
19     6  2008-02-02 15:50:32  116.44930  39.93550
20     6  2008-02-02 15:56:32  116.44238  39.94755
21     6  2008-02-02 16:02:32  116.45507  39.94780
22     6  2008-02-02 16:08:32  116.44380  39.95938
23     6  2008-02-02 16:14:32  116.42597  39.96815
24     6  2008-02-02 16:20:32  116.41008  39.96773
25     6  2008-02-02 16:26:32  116.37520  39.97650
26     6  2008-02-02 16:32:32  116.38145  39.98073
27     6  2008-02-02 16:38:32  116.38662  39.96673
28     6  2008-02-02 16:44:32  116.41900  39.96783
29     6  2008-02-02 16:50:32  116.45555  39.94442
..   ...                  ...        ...       ...
762    6  2008-02-07 18:34:21  116.69698  39.76550
763    6  2008-02-07 18:41:48  116.74257  39.76778
764    6  2008-02-07 18:41:48  116.74257  39.76778
765    6  2008-02-07 18:44:47  116.77120  39.77185
766    6  2008-02-07 22:35:15  116.77117  39.77182
767    6  2008-02-08 00:11:37  116.77117  39.77182
768    6  2008-02-08 00:17:37  116.77167  39.77393
769    6  2008-02-08 00:22:55  116.77167  39.77393
770    6  2008-02-08 08:38:59  116.79682  39.77615
771    6  2008-02-08 08:44:59  116.78775  39.77377
772    6  2008-02-08 09:03:29  116.78780  39.77320
773    6  2008-02-08 09:24:49  116.78777  39.77410
774    6  2008-02-08 10:34:00  116.78765  39.77357
775    6  2008-02-08 11:07:10  116.78765  39.77357
776    6  2008-02-08 11:13:10  116.77793  39.77503
777    6  2008-02-08 11:20:54  116.77117  39.77203
778    6  2008-02-08 11:26:54  116.78375  39.74483
779    6  2008-02-08 11:32:54  116.78123  39.70838
780    6  2008-02-08 11:38:54  116.78395  39.74158
781    6  2008-02-08 11:41:48  116.77152  39.74993
782    6  2008-02-08 11:58:59  116.77152  39.74993
783    6  2008-02-08 12:01:53  116.75828  39.74870
784    6  2008-02-08 12:10:42  116.75828  39.74870
785    6  2008-02-08 12:18:42  116.72722  39.74655
786    6  2008-02-08 12:19:34  116.72722  39.74655
787    6  2008-02-08 12:19:34  116.72722  39.74655
788    6  2008-02-08 17:20:17  116.72722  39.74655
789    6  2008-02-08 17:26:01  116.75840  39.74857
790    6  2008-02-08 17:29:43  116.75840  39.74857
791    6  2008-02-08 17:32:26  116.75840  39.74857

[792 rows x 4 columns]
     tid              timestp       long       lat
0      7  2008-02-02 15:10:26  116.76038  39.79758
1      7  2008-02-02 15:15:49  116.76660  39.80270
2      7  2008-02-02 15:39:32  116.76660  39.80270
3      7  2008-02-02 15:45:26  116.76660  39.80270
4      7  2008-02-02 19:46:58  116.76660  39.80270
5      7  2008-02-02 19:52:58  116.75220  39.80078
6      7  2008-02-02 19:58:58  116.72105  39.81482
7      7  2008-02-03 07:12:58  116.70168  39.83010
8      7  2008-02-03 07:13:05  116.70168  39.83010
9      7  2008-02-03 07:35:05  116.68920  39.82660
10     7  2008-02-03 07:47:05  116.71878  39.82333
11     7  2008-02-03 07:53:05  116.73115  39.79662
12     7  2008-02-03 08:00:59  116.75817  39.79927
13     7  2008-02-03 09:04:03  116.75817  39.79927
14     7  2008-02-03 09:30:43  116.76477  39.79835
15     7  2008-02-03 09:34:10  116.76477  39.79835
16     7  2008-02-03 09:37:13  116.76477  39.79835
17     7  2008-02-03 09:44:20  116.76037  39.79757
18     7  2008-02-03 10:49:31  116.77232  39.81688
19     7  2008-02-03 10:55:31  116.74380  39.85280
20     7  2008-02-03 11:07:31  116.68455  39.90142
21     7  2008-02-03 11:19:31  116.65453  39.94552
22     7  2008-02-03 11:20:27  116.65453  39.94552
23     7  2008-02-03 12:02:07  116.65453  39.94552
24     7  2008-02-03 12:04:19  116.65453  39.94552
25     7  2008-02-03 12:50:41  116.65453  39.94552
26     7  2008-02-03 12:56:41  116.65110  39.94022
27     7  2008-02-03 13:02:41  116.65222  39.92130
28     7  2008-02-03 13:08:41  116.68425  39.90155
29     7  2008-02-03 13:15:07  116.72373  39.90177
..   ...                  ...        ...       ...
424    7  2008-02-08 14:41:59  116.40615  39.89227
425    7  2008-02-08 14:47:59  116.42130  39.89230
426    7  2008-02-08 14:55:03  116.45460  39.89222
427    7  2008-02-08 15:01:03  116.48330  39.88748
428    7  2008-02-08 15:07:03  116.48390  39.90990
429    7  2008-02-08 15:13:27  116.51137  39.92990
430    7  2008-02-08 15:19:41  116.51083  39.93353
431    7  2008-02-08 15:25:41  116.48875  39.93292
432    7  2008-02-08 15:32:18  116.46662  39.93243
433    7  2008-02-08 15:38:18  116.45570  39.94440
434    7  2008-02-08 15:44:18  116.44922  39.94287
435    7  2008-02-08 15:50:18  116.44638  39.92570
436    7  2008-02-08 15:56:18  116.43827  39.93955
437    7  2008-02-08 16:02:18  116.43333  39.95362
438    7  2008-02-08 16:08:18  116.44068  39.96107
439    7  2008-02-08 16:14:18  116.46245  39.94770
440    7  2008-02-08 16:17:42  116.46245  39.94770
441    7  2008-02-08 16:21:07  116.46245  39.94770
442    7  2008-02-08 16:27:07  116.46483  39.95087
443    7  2008-02-08 16:33:07  116.45008  39.97893
444    7  2008-02-08 16:39:07  116.45667  39.99297
445    7  2008-02-08 16:45:07  116.46705  39.99720
446    7  2008-02-08 16:51:07  116.46743  39.98350
447    7  2008-02-08 16:57:26  116.46113  40.01277
448    7  2008-02-08 17:03:26  116.41180  40.02452
449    7  2008-02-08 17:09:26  116.41023  40.05595
450    7  2008-02-08 17:17:33  116.41302  40.05957
451    7  2008-02-08 17:24:20  116.40773  40.05650
452    7  2008-02-08 17:30:20  116.41087  40.01585
453    7  2008-02-08 17:37:58  116.40717  39.99790

[454 rows x 4 columns]
     tid              timestp       long       lat
0      5  2008-02-02 13:43:04  116.62934  39.82726
1      5  2008-02-02 13:53:04  116.62934  39.82725
2      5  2008-02-02 14:03:04  116.62933  39.82725
3      5  2008-02-02 14:13:04  116.61582  39.82817
4      5  2008-02-02 14:23:08  116.59818  39.82816
5      5  2008-02-02 14:33:04  116.62944  39.82734
6      5  2008-02-02 14:43:04  116.62946  39.82743
7      5  2008-02-02 14:53:04  116.62945  39.82746
8      5  2008-02-02 15:03:04  116.62944  39.82746
9      5  2008-02-02 15:13:04  116.62949  39.82738
10     5  2008-02-02 15:23:03  116.62947  39.82738
11     5  2008-02-02 15:33:03  116.62946  39.82739
12     5  2008-02-02 15:43:03  116.62945  39.82739
13     5  2008-02-02 15:53:03  116.62945  39.82739
14     5  2008-02-02 16:03:04  116.62944  39.82738
15     5  2008-02-02 16:13:04  116.62944  39.82738
16     5  2008-02-02 16:23:03  116.63099  39.82684
17     5  2008-02-02 16:33:03  116.60074  39.82807
18     5  2008-02-02 16:43:03  116.63211  39.81795
19     5  2008-02-02 17:13:03  116.76911  39.71160
20     5  2008-02-02 17:13:03  116.76911  39.71160
21     5  2008-02-02 17:23:03  116.75708  39.75405
22     5  2008-02-02 17:33:03  116.75710  39.75407
23     5  2008-02-02 17:43:03  116.75710  39.75407
24     5  2008-02-02 18:03:03  116.68357  39.79166
25     5  2008-02-02 18:13:03  116.61659  39.81868
26     5  2008-02-02 18:23:03  116.59058  39.83670
27     5  2008-02-02 18:33:03  116.59058  39.83670
28     5  2008-02-02 18:43:02  116.59058  39.83669
29     5  2008-02-02 18:53:02  116.59057  39.83668
..   ...                  ...        ...       ...
768    5  2008-02-08 12:59:00  116.58848  39.84216
769    5  2008-02-08 13:07:56  116.59028  39.83668
770    5  2008-02-08 13:08:59  116.59028  39.83668
771    5  2008-02-08 13:18:59  116.59030  39.83669
772    5  2008-02-08 13:28:59  116.59030  39.83671
773    5  2008-02-08 13:38:59  116.59031  39.83674
774    5  2008-02-08 13:48:59  116.59030  39.83677
775    5  2008-02-08 13:58:59  116.59030  39.83677
776    5  2008-02-08 14:18:58  116.59030  39.83676
777    5  2008-02-08 14:28:58  116.59030  39.83677
778    5  2008-02-08 14:38:58  116.59030  39.83676
779    5  2008-02-08 14:48:58  116.59030  39.83675
780    5  2008-02-08 14:58:59  116.59029  39.83675
781    5  2008-02-08 15:08:59  116.59029  39.83674
782    5  2008-02-08 15:18:59  116.59029  39.83674
783    5  2008-02-08 15:18:59  116.59029  39.83674
784    5  2008-02-08 15:28:59  116.59029  39.83675
785    5  2008-02-08 15:38:58  116.59030  39.83675
786    5  2008-02-08 15:48:58  116.59030  39.83675
787    5  2008-02-08 15:58:58  116.59030  39.83675
788    5  2008-02-08 16:08:58  116.59030  39.83675
789    5  2008-02-08 16:18:58  116.59030  39.83676
790    5  2008-02-08 16:28:58  116.59030  39.83677
791    5  2008-02-08 16:38:58  116.59030  39.83676
792    5  2008-02-08 16:48:58  116.59029  39.83675
793    5  2008-02-08 16:58:58  116.59029  39.83675
794    5  2008-02-08 17:08:58  116.59029  39.83675
795    5  2008-02-08 17:18:58  116.59028  39.83680
796    5  2008-02-08 17:28:58  116.59029  39.83682
797    5  2008-02-08 17:38:58  116.59029  39.83682

[798 rows x 4 columns]
     tid              timestp       long       lat
0      4  2008-02-02 15:15:04  116.47002  39.90666
1      4  2008-02-02 15:25:04  116.44422  39.92078
2      4  2008-02-02 15:35:04  116.43440  39.92296
3      4  2008-02-02 15:45:03  116.43988  39.92189
4      4  2008-02-02 15:55:04  116.47187  39.91212
5      4  2008-02-02 16:05:05  116.47448  39.90664
6      4  2008-02-02 16:15:04  116.47333  39.91435
7      4  2008-02-02 16:15:04  116.47333  39.91435
8      4  2008-02-02 16:25:05  116.46395  39.92896
9      4  2008-02-02 16:35:05  116.47235  39.92161
10     4  2008-02-02 16:45:04  116.45444  39.91262
11     4  2008-02-02 16:55:04  116.44668  39.89135
12     4  2008-02-02 17:05:04  116.48307  39.89169
13     4  2008-02-02 17:25:04  116.49092  39.90723
14     4  2008-02-02 23:55:07  116.58540  39.92423
15     4  2008-02-02 23:58:50  116.61595  39.91861
16     4  2008-02-03 00:15:07  116.75901  39.91214
17     4  2008-02-03 00:25:07  116.75899  39.91213
18     4  2008-02-03 00:55:07  116.75899  39.91209
19     4  2008-02-03 01:05:07  116.75899  39.91208
20     4  2008-02-03 01:15:06  116.75899  39.91207
21     4  2008-02-03 01:25:06  116.75899  39.91207
22     4  2008-02-03 01:35:06  116.75900  39.91207
23     4  2008-02-03 01:45:06  116.75900  39.91206
24     4  2008-02-03 01:55:06  116.75900  39.91206
25     4  2008-02-03 01:55:06  116.75900  39.91206
26     4  2008-02-03 02:15:06  116.75898  39.91207
27     4  2008-02-03 03:58:45  116.75898  39.91209
28     4  2008-02-03 04:05:05  116.75899  39.91209
29     4  2008-02-03 04:15:05  116.75899  39.91209
..   ...                  ...        ...       ...
642    4  2008-02-08 09:51:48  116.75901  39.91206
643    4  2008-02-08 10:01:47  116.75901  39.91206
644    4  2008-02-08 10:11:47  116.75901  39.91206
645    4  2008-02-08 10:21:47  116.75900  39.91206
646    4  2008-02-08 10:31:47  116.75900  39.91205
647    4  2008-02-08 10:41:47  116.75899  39.91205
648    4  2008-02-08 10:51:47  116.75899  39.91205
649    4  2008-02-08 11:01:47  116.75707  39.90570
650    4  2008-02-08 11:11:47  116.67802  39.91178
651    4  2008-02-08 11:21:47  116.63179  39.90530
652    4  2008-02-08 11:31:47  116.58749  39.91097
653    4  2008-02-08 11:41:47  116.54237  39.90867
654    4  2008-02-08 14:59:04  116.43002  39.90725
655    4  2008-02-08 15:09:04  116.42157  39.90345
656    4  2008-02-08 15:19:05  116.42543  39.90365
657    4  2008-02-08 15:19:05  116.42543  39.90365
658    4  2008-02-08 15:29:05  116.40574  39.89141
659    4  2008-02-08 15:39:04  116.45511  39.88434
660    4  2008-02-08 15:49:04  116.49683  39.80613
661    4  2008-02-08 15:59:04  116.49526  39.79646
662    4  2008-02-08 16:09:04  116.46994  39.83871
663    4  2008-02-08 16:19:04  116.49722  39.82966
664    4  2008-02-08 16:29:04  116.48037  39.86643
665    4  2008-02-08 16:39:04  116.48389  39.89242
666    4  2008-02-08 16:49:03  116.42810  39.93152
667    4  2008-02-08 16:59:03  116.42809  39.92652
668    4  2008-02-08 17:09:03  116.45324  39.91742
669    4  2008-02-08 17:19:03  116.48472  39.90474
670    4  2008-02-08 17:29:03  116.49063  39.90654
671    4  2008-02-08 17:39:03  116.52252  39.92111

[672 rows x 4 columns]
     tid              timestp       long       lat
0      1  2008-02-02 15:36:08  116.51172  39.92123
1      1  2008-02-02 15:46:08  116.51135  39.93883
2      1  2008-02-02 15:46:08  116.51135  39.93883
3      1  2008-02-02 15:56:08  116.51627  39.91034
4      1  2008-02-02 16:06:08  116.47186  39.91248
5      1  2008-02-02 16:16:08  116.47217  39.92498
6      1  2008-02-02 16:26:08  116.47179  39.90718
7      1  2008-02-02 16:36:08  116.45617  39.90531
8      1  2008-02-02 17:00:24  116.47191  39.90577
9      1  2008-02-02 17:10:24  116.50661  39.91450
10     1  2008-02-02 20:30:34  116.49625  39.91460
11     1  2008-02-02 20:40:33  116.50962  39.91071
12     1  2008-02-02 20:50:33  116.52231  39.91588
13     1  2008-02-02 20:50:33  116.52231  39.91588
14     1  2008-02-02 21:00:33  116.56444  39.91445
15     1  2008-02-02 21:10:33  116.59512  39.90798
16     1  2008-02-02 21:30:33  116.65522  39.86220
17     1  2008-02-02 21:40:33  116.69164  39.85165
18     1  2008-02-02 21:50:33  116.69167  39.85166
19     1  2008-02-02 22:10:32  116.69168  39.85168
20     1  2008-02-02 22:20:32  116.69168  39.85167
21     1  2008-02-02 22:30:32  116.69167  39.85169
22     1  2008-02-02 22:40:33  116.69167  39.85172
23     1  2008-02-02 22:50:33  116.69167  39.85174
24     1  2008-02-02 23:00:32  116.69167  39.85175
25     1  2008-02-02 23:10:32  116.69167  39.85176
26     1  2008-02-02 23:20:32  116.69172  39.85208
27     1  2008-02-02 23:20:32  116.69172  39.85208
28     1  2008-02-02 23:30:32  116.69172  39.85199
29     1  2008-02-02 23:40:32  116.69171  39.85196
..   ...                  ...        ...       ...
558    1  2008-02-08 07:44:49  116.69158  39.85165
559    1  2008-02-08 07:54:48  116.69163  39.85169
560    1  2008-02-08 08:04:48  116.69154  39.85173
561    1  2008-02-08 08:14:48  116.69154  39.85175
562    1  2008-02-08 08:24:48  116.69159  39.85167
563    1  2008-02-08 08:34:49  116.69163  39.85141
564    1  2008-02-08 08:44:49  116.69162  39.85161
565    1  2008-02-08 08:54:48  116.69160  39.85161
566    1  2008-02-08 09:04:48  116.69154  39.85188
567    1  2008-02-08 09:14:48  116.69158  39.85197
568    1  2008-02-08 09:24:48  116.69158  39.85187
569    1  2008-02-08 09:34:49  116.69159  39.85183
570    1  2008-02-08 09:44:49  116.69162  39.85147
571    1  2008-02-08 09:54:48  116.69156  39.85158
572    1  2008-02-08 10:04:48  116.69155  39.85164
573    1  2008-02-08 10:14:48  116.69153  39.85165
574    1  2008-02-08 10:24:48  116.69153  39.85166
575    1  2008-02-08 10:34:48  116.66179  39.88372
576    1  2008-02-08 10:44:48  116.60394  39.90741
577    1  2008-02-08 10:54:48  116.54559  39.91474
578    1  2008-02-08 14:21:31  116.52195  39.91600
579    1  2008-02-08 14:31:31  116.48503  39.91422
580    1  2008-02-08 14:41:32  116.44460  39.92156
581    1  2008-02-08 14:51:32  116.40047  39.92594
582    1  2008-02-08 15:01:31  116.44152  39.93236
583    1  2008-02-08 15:11:31  116.48347  39.91954
584    1  2008-02-08 15:21:31  116.50789  39.93128
585    1  2008-02-08 15:31:31  116.53174  39.91536
586    1  2008-02-08 15:41:31  116.57156  39.90263
587    1  2008-02-08 15:51:31  116.54723  39.90841

[588 rows x 4 columns]
      tid              timestp       long       lat
0       3  2008-02-02 13:39:08  116.35743  39.88957
1       3  2008-02-02 13:44:08  116.35732  39.89726
2       3  2008-02-02 13:49:09  116.35060  39.90712
3       3  2008-02-02 13:54:09  116.35171  39.91145
4       3  2008-02-02 13:59:08  116.34366  39.89655
5       3  2008-02-02 14:04:08  116.34347  39.87605
6       3  2008-02-02 14:09:08  116.35298  39.87643
7       3  2008-02-02 14:14:08  116.36223  39.88766
8       3  2008-02-02 14:19:08  116.37556  39.88786
9       3  2008-02-02 14:19:08  116.37556  39.88786
10      3  2008-02-02 14:24:08  116.37818  39.88815
11      3  2008-02-02 14:29:08  116.35663  39.88810
12      3  2008-02-02 14:34:08  116.32437  39.88878
13      3  2008-02-02 14:39:08  116.31577  39.89176
14      3  2008-02-02 14:49:08  116.32935  39.90671
15      3  2008-02-02 14:54:08  116.34231  39.91242
16      3  2008-02-02 15:04:08  116.35674  39.91289
17      3  2008-02-02 15:09:08  116.36274  39.90847
18      3  2008-02-02 15:14:08  116.36741  39.90744
19      3  2008-02-02 15:19:08  116.36729  39.90993
20      3  2008-02-02 15:24:08  116.35743  39.90573
21      3  2008-02-02 15:29:08  116.31887  39.90622
22      3  2008-02-02 15:34:08  116.30292  39.90749
23      3  2008-02-02 15:39:07  116.30457  39.90806
24      3  2008-02-02 15:44:07  116.30450  39.92477
25      3  2008-02-02 15:49:07  116.31964  39.92687
26      3  2008-02-02 15:54:06  116.31970  39.93714
27      3  2008-02-02 15:59:07  116.31889  39.94545
28      3  2008-02-02 16:04:07  116.31408  39.94704
29      3  2008-02-02 16:09:07  116.30472  39.94066
...   ...                  ...        ...       ...
1341    3  2008-02-08 15:15:25  116.45850  39.97626
1342    3  2008-02-08 15:20:25  116.45820  39.97605
1343    3  2008-02-08 15:25:25  116.45925  39.96777
1344    3  2008-02-08 15:30:24  116.45547  39.94743
1345    3  2008-02-08 15:35:24  116.45153  39.91559
1346    3  2008-02-08 15:40:24  116.45533  39.90765
1347    3  2008-02-08 15:45:24  116.45878  39.89939
1348    3  2008-02-08 15:50:24  116.45877  39.89942
1349    3  2008-02-08 15:55:24  116.45877  39.89945
1350    3  2008-02-08 16:00:24  116.45881  39.89942
1351    3  2008-02-08 16:05:24  116.47168  39.90082
1352    3  2008-02-08 16:10:24  116.46741  39.90737
1353    3  2008-02-08 16:15:24  116.44441  39.90711
1354    3  2008-02-08 16:20:24  116.42223  39.89934
1355    3  2008-02-08 16:25:24  116.41256  39.89479
1356    3  2008-02-08 16:30:24  116.40617  39.89335
1357    3  2008-02-08 16:35:24  116.40820  39.89885
1358    3  2008-02-08 16:40:24  116.41216  39.89771
1359    3  2008-02-08 16:45:24  116.41624  39.88576
1360    3  2008-02-08 16:50:24  116.43214  39.88271
1361    3  2008-02-08 16:55:24  116.44450  39.87508
1362    3  2008-02-08 17:00:24  116.43952  39.87508
1363    3  2008-02-08 17:05:24  116.42898  39.88304
1364    3  2008-02-08 17:05:24  116.42898  39.88304
1365    3  2008-02-08 17:10:24  116.42827  39.88949
1366    3  2008-02-08 17:15:24  116.42928  39.89010
1367    3  2008-02-08 17:20:24  116.42973  39.90682
1368    3  2008-02-08 17:25:24  116.43281  39.93944
1369    3  2008-02-08 17:30:23  116.42760  39.93164
1370    3  2008-02-08 17:35:23  116.43003  39.93209

[1371 rows x 4 columns]
      tid              timestp       long       lat
0       2  2008-02-02 13:33:52  116.36422  39.88781
1       2  2008-02-02 13:37:16  116.37481  39.88782
2       2  2008-02-02 13:38:53  116.37677  39.88791
3       2  2008-02-02 13:42:18  116.38033  39.88795
4       2  2008-02-02 13:43:55  116.39392  39.89014
5       2  2008-02-02 13:47:20  116.41149  39.89152
6       2  2008-02-02 13:48:57  116.42105  39.89194
7       2  2008-02-02 13:52:21  116.42150  39.89823
8       2  2008-02-02 13:53:58  116.42150  39.89902
9       2  2008-02-02 13:57:23  116.42972  39.90726
10      2  2008-02-02 13:59:00  116.43020  39.91176
11      2  2008-02-02 14:02:25  116.44396  39.90800
12      2  2008-02-02 14:04:02  116.44410  39.90807
13      2  2008-02-02 14:04:02  116.44410  39.90807

In [17]:
all_data = pd.concat(data_list)

In [18]:
all_data.head()
all_data.shape

(12698, 4)